<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydz.dao.pay.PayMerchantIdMapper" >
  <resultMap id="BaseResultMap" type="com.ydz.entity.pay.PayMerchantId" >
    <id column="UID" property="uid" jdbcType="BIGINT" />
    <result column="COM_KEY" property="comKey" jdbcType="VARCHAR" />
    <result column="MERCHANT_ID" property="merchantId" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="CHAR" />
    <result column="IS_VALID" property="isValid" jdbcType="CHAR" />
    <result column="IS_DEL" property="isDel" jdbcType="CHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    UID, COM_KEY, MERCHANT_ID, TYPE, IS_VALID, IS_DEL, REMARKS, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="pd" >
    select 
    <include refid="Base_Column_List" />
    from ydz_pay_merchant_id
    where COM_KEY = #{comKey}
    <if test="merchantId != null">
     	and MERCHANT_ID = #{merchantId}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="pd" >
    delete from ydz_pay_merchant_id
    where COM_KEY = #{comKey}
    <if test="merchantId != null">
     	and MERCHANT_ID = #{merchantId}
    </if>
  </delete>
  <insert id="insert" parameterType="com.ydz.entity.pay.PayMerchantId" >
    insert into ydz_pay_merchant_id (UID, COM_KEY, MERCHANT_ID, 
      TYPE, IS_VALID, IS_DEL, REMARKS, 
      CREATE_TIME)
    values (#{uid,jdbcType=BIGINT}, #{comKey,jdbcType=VARCHAR}, #{merchantId,jdbcType=VARCHAR}, 
      #{type,jdbcType=CHAR}, #{isValid,jdbcType=CHAR}, #{isDel,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ydz.entity.pay.PayMerchantId" >
    insert into ydz_pay_merchant_id
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="comKey != null" >
        COM_KEY,
      </if>
      <if test="merchantId != null" >
        MERCHANT_ID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="isValid != null" >
        IS_VALID,
      </if>
      <if test="isDel != null" >
        IS_DEL,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="comKey != null" >
        #{comKey,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ydz.entity.pay.PayMerchantId" >
    update ydz_pay_merchant_id
    <set >
      <if test="comKey != null" >
        COM_KEY = #{comKey,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        MERCHANT_ID = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="isValid != null" >
        IS_VALID = #{isValid,jdbcType=CHAR},
      </if>
      <if test="isDel != null" >
        IS_DEL = #{isDel,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where COM_KEY = #{comKey}
    <if test="merchantId != null">
     	and MERCHANT_ID = #{merchantId}
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ydz.entity.pay.PayMerchantId" >
    update ydz_pay_merchant_id
    set COM_KEY = #{comKey,jdbcType=VARCHAR},
      MERCHANT_ID = #{merchantId,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=CHAR},
      IS_VALID = #{isValid,jdbcType=CHAR},
      IS_DEL = #{isDel,jdbcType=CHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where UID = #{uid,jdbcType=BIGINT}
  </update>
</mapper>