<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydz.dao.project.OpportunityQuotationDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ydz.entity.project.OpportunityQuotationDetail" >
    <id column="UID" property="uid" jdbcType="BIGINT" />
    <result column="ITEM_NO" property="itemNo" jdbcType="TINYINT" />
    <result column="QUOTATION_NO" property="quotationNo" jdbcType="VARCHAR" />
    <result column="BUSINESS_DESC" property="businessDesc" jdbcType="VARCHAR" />
    <result column="SPECIFICATION" property="specification" jdbcType="VARCHAR" />
    <result column="CLASS_CODE" property="classCode" jdbcType="CHAR" />
    <result column="CLASS_DESC" property="classDesc" jdbcType="VARCHAR" />
    <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" />
    <result column="UNIT" property="unit" jdbcType="VARCHAR" />
    <result column="UNIT_PRICE" property="unitPrice" jdbcType="DECIMAL" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="DECIMAL" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="OPPO_NO" property="oppoNo" jdbcType="VARCHAR" />
    <result column="IS_VALID" property="isValid" jdbcType="CHAR" />
    <result column="IS_DEL" property="isDel" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    UID, ITEM_NO, QUOTATION_NO, BUSINESS_DESC, SPECIFICATION, CLASS_CODE, CLASS_DESC, 
    QUANTITY, UNIT, UNIT_PRICE, TOTAL_PRICE, REMARKS, OPPO_NO, IS_VALID, IS_DEL, CREATE_TIME, 
    CREATOR
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="pd" >
    select 
    <include refid="Base_Column_List" />
    from ydz_opportunity_quotation_detail
    where IS_VALID = '1' AND IS_DEL = '0' AND QUOTATION_NO = #{quotationNo} AND ITEM_NO = #{itemNo}
  </select>
  <select id="listPageOpportQuotDetails" resultMap="BaseResultMap" parameterType="page" >
    select 
    <include refid="Base_Column_List" />
    from ydz_opportunity_quotation_detail
    where IS_VALID = '1' AND IS_DEL = '0' AND QUOTATION_NO = #{pd.quotationNo}
    order by ITEM_NO ASC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="pd" >
    delete from ydz_opportunity_quotation_detail
    where QUOTATION_NO = #{quotationNo}
    <if test="itemNo != null">
    	AND ITEM_NO = #{itemNo}
    </if>
  </delete>
  <insert id="insertList" parameterType="java.util.List" >
    insert into ydz_opportunity_quotation_detail (ITEM_NO, QUOTATION_NO, 
      BUSINESS_DESC, SPECIFICATION, CLASS_CODE, 
      CLASS_DESC, QUANTITY, UNIT, 
      UNIT_PRICE, TOTAL_PRICE, REMARKS, 
      OPPO_NO, IS_VALID, IS_DEL, CREATE_TIME, 
      CREATOR)
    values 
    <foreach collection="list" item="item" index="index"  
        separator=",">  
	    (#{item.itemNo,jdbcType=TINYINT}, #{item.quotationNo,jdbcType=VARCHAR}, 
	      #{item.businessDesc,jdbcType=VARCHAR}, #{item.specification,jdbcType=VARCHAR}, #{item.classCode,jdbcType=CHAR}, 
	      #{item.classDesc,jdbcType=VARCHAR}, #{item.quantity,jdbcType=DECIMAL}, #{item.unit,jdbcType=VARCHAR}, 
	      #{item.unitPrice,jdbcType=DECIMAL}, #{item.totalPrice,jdbcType=DECIMAL}, #{item.remarks,jdbcType=VARCHAR}, 
	      #{item.oppoNo,jdbcType=VARCHAR}, #{item.isValid,jdbcType=CHAR}, #{item.isDel,jdbcType=CHAR}, #{item.createTime,jdbcType=TIMESTAMP}, 
	      #{item.creator,jdbcType=VARCHAR})
     </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.ydz.entity.project.OpportunityQuotationDetail" >
    insert into ydz_opportunity_quotation_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="itemNo != null" >
        ITEM_NO,
      </if>
      <if test="quotationNo != null" >
        QUOTATION_NO,
      </if>
      <if test="businessDesc != null" >
        BUSINESS_DESC,
      </if>
      <if test="specification != null" >
        SPECIFICATION,
      </if>
      <if test="classCode != null" >
        CLASS_CODE,
      </if>
      <if test="classDesc != null" >
        CLASS_DESC,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
      <if test="unit != null" >
        UNIT,
      </if>
      <if test="unitPrice != null" >
        UNIT_PRICE,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="oppoNo != null" >
        OPPO_NO,
      </if>
      <if test="isValid != null" >
        IS_VALID,
      </if>
      <if test="isDel != null" >
        IS_DEL,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="itemNo != null" >
        #{itemNo,jdbcType=TINYINT},
      </if>
      <if test="quotationNo != null" >
        #{quotationNo,jdbcType=VARCHAR},
      </if>
      <if test="businessDesc != null" >
        #{businessDesc,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="classCode != null" >
        #{classCode,jdbcType=CHAR},
      </if>
      <if test="classDesc != null" >
        #{classDesc,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="oppoNo != null" >
        #{oppoNo,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ydz.entity.project.OpportunityQuotationDetail" >
    update ydz_opportunity_quotation_detail
    <set >
      <if test="itemNo != null" >
        ITEM_NO = #{itemNo,jdbcType=TINYINT},
      </if>
      <if test="quotationNo != null" >
        QUOTATION_NO = #{quotationNo,jdbcType=VARCHAR},
      </if>
      <if test="businessDesc != null" >
        BUSINESS_DESC = #{businessDesc,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        SPECIFICATION = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="classCode != null" >
        CLASS_CODE = #{classCode,jdbcType=CHAR},
      </if>
      <if test="classDesc != null" >
        CLASS_DESC = #{classDesc,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        UNIT_PRICE = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="oppoNo != null" >
        OPPO_NO = #{oppoNo,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        IS_VALID = #{isValid,jdbcType=CHAR},
      </if>
      <if test="isDel != null" >
        IS_DEL = #{isDel,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where AND QUOTATION_NO = #{quotationNo} AND ITEM_NO = #{itemNo}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ydz.entity.project.OpportunityQuotationDetail" >
    update ydz_opportunity_quotation_detail
    set ITEM_NO = #{itemNo,jdbcType=TINYINT},
      QUOTATION_NO = #{quotationNo,jdbcType=VARCHAR},
      BUSINESS_DESC = #{businessDesc,jdbcType=VARCHAR},
      SPECIFICATION = #{specification,jdbcType=VARCHAR},
      CLASS_CODE = #{classCode,jdbcType=CHAR},
      CLASS_DESC = #{classDesc,jdbcType=VARCHAR},
      QUANTITY = #{quantity,jdbcType=DECIMAL},
      UNIT = #{unit,jdbcType=VARCHAR},
      UNIT_PRICE = #{unitPrice,jdbcType=DECIMAL},
      TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      OPPO_NO = #{oppoNo,jdbcType=VARCHAR},
      IS_VALID = #{isValid,jdbcType=CHAR},
      IS_DEL = #{isDel,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=VARCHAR}
    where UID = #{uid,jdbcType=BIGINT}
  </update>
</mapper>