<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydz.dao.init.BusinessMenuInitMapper" >
  <resultMap id="BaseResultMap" type="com.ydz.entity.init.BusinessMenuInit" >
    <id column="UID" property="uid" jdbcType="BIGINT" />
    <result column="BUSINESS_CODE" property="businessCode" jdbcType="VARCHAR" />
    <result column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <result column="IS_VALID" property="isValid" jdbcType="CHAR" />
    <result column="INDUSTRY_ID" property="industryId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    UID, BUSINESS_CODE, MENU_ID, IS_VALID, INDUSTRY_ID, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from YDZ_BUSINESS_MENU_INIT
    where UID = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from YDZ_BUSINESS_MENU_INIT
    where UID = #{uid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ydz.entity.init.BusinessMenuInit" >
    insert into YDZ_BUSINESS_MENU_INIT (UID, BUSINESS_CODE, MENU_ID, 
      IS_VALID, INDUSTRY_ID, CREATE_TIME
      )
    values (#{uid,jdbcType=BIGINT}, #{businessCode,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, 
      #{isValid,jdbcType=CHAR}, #{industryId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ydz.entity.init.BusinessMenuInit" >
    insert into YDZ_BUSINESS_MENU_INIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="businessCode != null" >
        BUSINESS_CODE,
      </if>
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="isValid != null" >
        IS_VALID,
      </if>
      <if test="industryId != null" >
        INDUSTRY_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="businessCode != null" >
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="industryId != null" >
        #{industryId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ydz.entity.init.BusinessMenuInit" >
    update YDZ_BUSINESS_MENU_INIT
    <set >
      <if test="businessCode != null" >
        BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        MENU_ID = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        IS_VALID = #{isValid,jdbcType=CHAR},
      </if>
      <if test="industryId != null" >
        INDUSTRY_ID = #{industryId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where UID = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ydz.entity.init.BusinessMenuInit" >
    update YDZ_BUSINESS_MENU_INIT
    set BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR},
      MENU_ID = #{menuId,jdbcType=VARCHAR},
      IS_VALID = #{isValid,jdbcType=CHAR},
      INDUSTRY_ID = #{industryId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where UID = #{uid,jdbcType=BIGINT}
  </update>
</mapper>