<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydz.dao.system.DepartmentInitMapper" >
  <resultMap id="BaseResultMap" type="com.ydz.entity.init.DepartmentInit" >
    <id column="UID" property="uid" jdbcType="BIGINT" />
    <result column="DEPT_ID" property="deptId" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="P_DEPT_ID" property="pDeptId" jdbcType="VARCHAR" />
    <result column="SORT_ITEM" property="sortItem" jdbcType="INTEGER" />
    <result column="IS_VALID" property="isValid" jdbcType="CHAR" />
    <result column="INDUSTRY_ID" property="industryId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    UID, DEPT_ID, DEPT_NAME, P_DEPT_ID, SORT_ITEM, IS_VALID, INDUSTRY_ID, CREATE_TIME
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="pd" >
    select 
    <include refid="Base_Column_List" />
    from YDZ_DEPARTMENT_INIT
    where 1=1
    <if test="industryId != null" >
      AND INDUSTRY_ID = #{industryId,jdbcType=VARCHAR}
    </if>

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from YDZ_DEPARTMENT_INIT
    where <!--1=1
    <if test="industryId != null" >
      AND INDUSTRY_ID = #{industryId,jdbcType=VARCHAR}
    </if>-->
    UID = #{uid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ydz.entity.init.DepartmentInit" >
    insert into YDZ_DEPARTMENT_INIT (UID, DEPT_ID, DEPT_NAME, 
      P_DEPT_ID, SORT_ITEM, IS_VALID, 
      INDUSTRY_ID, CREATE_TIME)
    values (#{uid,jdbcType=BIGINT}, #{deptId,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{pDeptId,jdbcType=VARCHAR}, #{sortItem,jdbcType=INTEGER}, #{isValid,jdbcType=CHAR}, 
      #{industryId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ydz.entity.init.DepartmentInit" >
    insert into YDZ_DEPARTMENT_INIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="pDeptId != null" >
        P_DEPT_ID,
      </if>
      <if test="sortItem != null" >
        SORT_ITEM,
      </if>
      <if test="isValid != null" >
        IS_VALID,
      </if>
      <if test="industryId != null" >
        INDUSTRY_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="pDeptId != null" >
        #{pDeptId,jdbcType=VARCHAR},
      </if>
      <if test="sortItem != null" >
        #{sortItem,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="industryId != null" >
        #{industryId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ydz.entity.init.DepartmentInit" >
    update YDZ_DEPARTMENT_INIT
    <set >
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="pDeptId != null" >
        P_DEPT_ID = #{pDeptId,jdbcType=VARCHAR},
      </if>
      <if test="sortItem != null" >
        SORT_ITEM = #{sortItem,jdbcType=INTEGER},
      </if>
      <if test="isValid != null" >
        IS_VALID = #{isValid,jdbcType=CHAR},
      </if>
      <if test="industryId != null" >
        INDUSTRY_ID = #{industryId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where UID = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ydz.entity.init.DepartmentInit" >
    update YDZ_DEPARTMENT_INIT
    set DEPT_ID = #{deptId,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      P_DEPT_ID = #{pDeptId,jdbcType=VARCHAR},
      SORT_ITEM = #{sortItem,jdbcType=INTEGER},
      IS_VALID = #{isValid,jdbcType=CHAR},
      INDUSTRY_ID = #{industryId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where UID = #{uid,jdbcType=BIGINT}
  </update>
</mapper>