
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1470966537'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1470966537#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1470966537') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1470966537') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1470966537#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jianzhu:before { content: "\e6c3"; }
.icon-anquan:before { content: "\e675"; }
.icon-gongzuotai:before { content: "\e65b"; }
.icon-icontianjia01:before { content: "\e680"; }
.icon-tongxunlu:before { content: "\e63a"; }
.icon-wo:before { content: "\e6a3"; }
.icon-liebiao:before { content: "\e633"; }

.tab_icon{
	font-size: 20px !important;
}
.tab_ionic_position{
	font-size: 20px !important;
}
