@CHARSET "UTF-8";
html{
    margin:0;
    padding:0;
    border:0;
}
body,div,span,object,iframe,h1,h2,h3,h4,p,blockquote,pre,a,address,code,b,em,img,
dl,dt,dd,ol,ul,li,fieldset,form,label,footer,header,hgroup,nav,section
{
    margin:0;
    padding:0;border:0;
}

body{
    background: #fff;
    color:#666;
    position:relative;
    font-family: '微软雅黑',arial,'宋体' ;
    vertical-align:baseline;
    width:100%;
    overflow-x:hidden;
}
a{
    text-decoration:none;
    outline:none;
}
a:link{
    color:#666;
}
a:visited{
    color:#666;
}
a:hover,a:active,a:focus{
    color:#666;
    text-decoration:underline;
    outline:none;
    text-decoration:none;
}
input{
    padding:0;
    margin:0;
}

img{
    border:none;
    background:none;
    vertical-align:middle;
}
ul,ol,li{
    list-style-type:none;
}
select,input,img,select{
    vertical-align:middle;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}
table, th, td {
    vertical-align: middle;
}
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.clearfix{
    zoom:1
}
.clearboth{
    height:0px;
    line-height:0px;
    overflow:hidden;
    clear:both;
    font-size:0px;
}

h1,h2,h3,h4{
    font-size:12px;
    font-weight:bold;
}
hr {border: 0;
    border-top:1px solid #ccc;
    height:0;
}
input:-webkit-autofill{-webkit-box-shadow: 0 0 0px 1000px white inset;}

/* -----------------------------华丽的分割线---------------------------------- */
@font-face {font-family: 'iconfont';
    src: url('fonts/iconfont.eot'); /* IE9*/
    src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.left{
    float: left;
}
.right{
    float: right;
}
.main{
    height: 500px;
    background: #00a9a6;
    width: 100%;
    margin-top: 5%;
    overflow: hidden;
}

body{
    background: #f2f5f7 !important;
}
.table_list{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    /*overflow: hidden;*/
}

.table_list_tips_first{
    color: #ff0000 !important;
    margin-left: 20px;
    cursor: pointer;
}
.table_list_tips_last{
    color: #2e8ae6 !important;
    margin-left: 30px;
}
.table_list_tips span{
    position: absolute;
    right: 15px;
    font-size: 12px;
}
.table_list_contant{
    margin-top: 5PX;
    /*overflow: hidden;*/
}
.table_list_title{
    height: 40px ;
    line-height:40px;
    border-bottom: 1px solid #e4e4e4;
    font-size: 16px;
    color: #333;
    text-indent: 1em;
    position: relative;
}
.table_list_title span{
    font-size: 12px;
    margin-left:10px;
    color: #999;
}

.table_list_title i{
    font-size: 12px;
    margin-left:10px;
    color: #ff0000;
    font-style:initial;
    position: absolute;
    right:100px;
}
.table_list_title i a{
    margin-left: 10px;
    color: #666;
    cursor: pointer;
}
.table_list_title b{
    display:inline-block;
    height: 9px;
    width: 9px;
    position: absolute;
    right:40px;
    top: 0px;
    cursor: pointer;
}
.table_list_title b:before{
    content: "\e6a0";
}
.table_list_title button{
    display: inline-block;
    height:  20px;
    width: 20px;
    position: absolute;
    top: 10px;
    cursor: pointer;
    border:none;
    outline:none;
}
.table_list_title_prev{
    right:40px;
    background: url("../../images/prev.png");
}
.table_list_title_next{
    right:10px;
    background: url("../../images/next.png");
}
.table_list_remind{
    background: #fff;
    margin-bottom: 20px;
}

.table_contant_list_box{
    width: 100%;
    overflow: hidden;
    height: auto;
}


#table_contant_list{
    width:auto;
    height:180px;
    overflow: hidden;
    position: relative;
}
#table_contant_list li{
    height: 165px;
    float: left;
    position: relative;
    padding-left: 20px;
}
#table_contant_list li:before{
    content: "";
    width:1px;
    height:80%;
    position: absolute;
    right:0px;
    background: #e4e4e4;
    top:10%;
}
#table_contant_list li:nth-child(3n):before, #table_contant_list li:last-child:before{
    background: #fff;
}
#blacklist_num_list{
    /*height:90px ;*/
    overflow: hidden;
    position: relative;
}
#blacklist_num_list li{
    height: 70px;
    float: left;
    text-align: center;
    position: relative;
}
#blacklist_num_list li:nth-child(3n):before, #blacklist_num_list li:last-child:before{
    background: #fff;
}
#blacklist_num_list li:before{
    content: "";
    width:1px;
    height:80%;
    position: absolute;
    right:0px;
    background: #e4e4e4;
    top:10%;
}
.table_contant_list{
    overflow: hidden;
    padding: 10px 0px !important;
}
.table_contant_list li h1,.table_contant_list li p{
    height: 36px;
    line-height: 36px;
    width:100%;
    margin: 0px;
    color: #666;
    font-weight: normal;
    font-family:'微软雅黑',arial,'宋体';
}
.table_contant_list li h1{
    color: #2e8ae6;
    font-size: 14px;
}
.table_contant_list li h1 i{
    color: #999;
    font-size: 12px;
    font-style: initial;
    margin-left: 15px;
}
.table_contant_list li p span:last-child{
    margin-left: 10px;
}
.table_contant_list li button{
    height: 30px;
    line-height: 26px;
    width: 60px;
    border:1px solid #e4e4e4;
    background: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 3px;
    border-radius: 3px;
    transition:all 0.5s 0s linear;
}
.table_contant_list li button:hover{
    border:1px solid #2e8ae6;
    color: #fff;
    background: #2e8ae6;
}
.table_contant_list li button:first-child{
    background: #2e8ae6;
    color: #fff;
    border:1px solid #2e8ae6;
}
.table_list_tips_know,.table_list_tips_detail{
    display: inline-block;
    height:30px;
    line-height: 30px;
    border:1px solid #e4e4e4;
    padding:0px 10px;
    margin-left: 10px;
    transition:all 0.5s 0s linear;
    border-radius:3px;
}
.table_list_tips_know:hover{
    border:1px solid #2e8ae6;
    color: #fff;
    background: #2e8ae6;
}
.table_list_tips_detail:hover{
    border:1px solid #2e8ae6;
    color: #fff;
    background: #2e8ae6;
}

.table_list_price{
    width:100%;
    overflow: hidden;
    height: auto;
    padding:15px 0px;
}
.table_list_price li{
    float: left;
    height: 35px;
    line-height: 35px;
    margin-left: 15px;
    color: #666;
}

.table_list_todo_ionic{
    left: 50%;
    margin-left: 25px;
}
@media screen and (max-width:931px ) {

    .table_list_title span{
        display: none;
    }
    .table_list_tips span{
        display: none;
    }
    .table_list_todo li span{
        left: 50%;
        margin-left: 20px;
    }
    .table_list_todo li i{
        left: 50%;
        margin-left: 20px;
    }
}
@media screen and (min-width: 1025px) and (max-width:1150px ) {
    .table_list_tips_know{
        display: none;
    }
    .table_list_todo li span{
        left: 50%;
        margin-left: 20px;
    }
    .table_list_todo li i{
        left: 50%;
        margin-left: 20px;
    }
}
@media screen and (min-width: 1024px) and (max-width:1080px ) {
    .table_contant_list li p span:last-child{
        display: none;
    }
    .table_list_todo li span{
        left: 50%;
        margin-left: 20px;
    }
    .table_list_todo li i{
        left: 50%;
        margin-left: 20px;
    }
}



.invite_list{
    width:100%;
    padding:20px;
    background: #fff;
}
.invite_list table{
    width:100%;
}

.invite_list table tr{
    border-bottom: 1px solid #e4e4e4;
    text-align: left;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 12px;
    color: #666;
}
.invite_list table tr:first-child th{
    border-bottom: 2px solid #e4e4e4;
    border-top: 2px solid #e4e4e4;
    background: #eff1f3;
    font-size: 14px;
}
.invite_list table tr td a{
    color: #008ae2;
    text-decoration: underline;
}
.invite_list_title{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #333;
    border-bottom: 2px solid #e4e4e4;
    background: #fff;
    text-indent: 2em;
    position: relative;
    background: #eff1f3;
    border-top: 2px solid #e4e4e4;
}
.invite_list_title select{
    position: absolute;
    width: 120px;
    text-indent: 0.5em;
    right: 2em;
    height: 24px;
    line-height: 24px;
    top:8px;
    border:1px solid #e4e4e4;
    border-radius:3px;
    outline:none;
    background: #fff;
}

.invite_list_resoult{
    width:100%;
    padding:20px;
    background: #fff;
}
.invite_list_resoult table{
    width:100%;
}

.invite_list_resoult table tr{
    border-bottom: 1px solid #e4e4e4;
    text-align: left;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 12px;
}
.invite_list_resoult_add{
    color: #008ae2;
    font-size: 14px;
}
.invite_list_resoult_cut{
    color: #ff0000;
    font-size: 14px;
}
.invite_deteal{
    background: #fff;
    margin-bottom: 20px;
    overflow: hidden;
}
.invite_deteal li{
    height: 84px;
    width: 25%;
    float: left;
    margin:20px 0px;
    border-right:1px solid #E4e4e4;
}
.invite_deteal li:last-child{
    border-right:none;
}
.invite_deteal li p,.invite_deteal li b,.invite_deteal li a{
    height: 28px;
    line-height: 28px;
    display: block;
    width: 100%;
    text-align: center;
    padding:0px;
    margin:0px;
    color: #666;
    font-size: 12px;
}
.invite_deteal li p{
    position: relative;
}
.invite_deteal li b{
    font-size: 18px;
    letter-spacing: 0.3em;
    color: #008ae2;
    font-size: 18px;
}
.invite_deteal li p span{
    color: #ff0000;
    padding:0px 5px;
}
.invite_deteal_price{
    color: #ff0000 !important;
}
.invite_deteal_withdrawal{
    display: block;
    height: 24px !important;
    width: 80px !important;
    line-height: 24px !important;
    background: #008ae2;
    color: #fff !important;
    border-radius: 24px;
    position: absolute;
    left:50%;
    margin-left: -40px !important;
    cursor: pointer;
}
@media only screen and (min-width: 1200px) {
    .contents{
        width: 1200px;
        margin: 0px auto;
    }
    .login_left{
        height: 500px;
        line-height: 500px;
        max-width: 658px;
    }
    .login_right{
        width:360px ;
        padding: 0px 30px;
        background: #fff;
        overflow: hidden;
        height: 380px;
        margin-top: 95px;
    }
}
@media only screen and (min-width: 1000px) and (max-width:1199px) {
    .contents{
        width: 1000px;
        margin: 0px auto;
    }
    .login_left{
        height: 500px;
        line-height: 500px;
        max-width: 615px;
    }
    .login_right{
        width:360px ;
        padding: 0px 30px;
        background: #fff;
        overflow: hidden;
        height: 380px;
        margin-top: 95px;
    }
}
@media only screen and (min-width: 721px) and (max-width:999px) {
    .contents{
        width: 721px;
        margin: 0px auto;
    }
    .login_left{
        display: none;
    }
    .login_right{
        width:360px ;
        float:none ;
        margin: 95px auto 0px;
        padding: 0px 30px;
        background: #fff;
        overflow: hidden;
        height: 380px;
    }
}
@media only screen and (max-width: 720px){
    .contents{
        max-width: 720px;
        margin: 0px auto;
    }
    .login_left{
        display: none;
    }
    .login_right{
        width:360px ;
        float:none ;
        margin: 95px auto 0px;
        padding: 0px 30px;
        background: #fff;
        overflow: hidden;
        height: 380px;
    }
}

.foot{
    width: 100%;
    text-align: center;
}
.foot p{
    margin-top: 0.7rem;
    font-size:0.85rem;
    color: #000;
    opacity: 0.8;
}
.foot p a{
    padding: 0px 8px;
    color: #000;
}
.foot p a:last-child{
    color: #ff0000;
}
.logo{
    height: 45px;
    margin: 20px 0px 0px 20px;
    position: relative;
    cursor: pointer;
}
.logo img{
    height: 45px;
    width: auto;
}
.logo_font{
    font-size:150px;
    position: absolute;
    top:-55px;
    left:-10px;
    color: #242638;
}
.login_left img{
    width: 100%;
    height: auto;
}
.login_right h1{
   	text-align: center;
   	margin: 30px 0;
    position: relative;
    font-size: 24px;
    color: #666666;
    font-weight: normal;
    font-family: "微软雅黑";
}
.login_right h1 a{
    position: absolute;
    right: 0px;
    font-size: 12px;
    color: #4183C4;
}
.prom{
    display: none;
    color: #da4654;
    line-height: 26px;
    font-family: "微软雅黑";
}
.prom .iconfont_new{
   font-size: 26px;
   position: relative;
    top:5px;
}
/*.login_right p{
    height: 40px;
    background: #fff6d2;
    width: 100%;
    line-height: 30px;
    margin-right: 5px;
    font-size:14px;
}*/
/*.login_right p i{
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 23px;
}*/
.loging_form .border_color{
	border: 1px solid red;
}
.tips_color{
    color: #ffcc01;
}
.loging_form p:nth-child(1){
	margin-bottom: 20px;
}
.loging_form p{
    height: 40px;
    line-height: 40px;
    border: 1px solid #D7D7D7;
    /*margin-top: 20px;*/
    background: #fff;
    font-size: 14px;
}
.checkbox_rember{
    border: none !important;
    position: relative;
}
.checkbox_rember a{
    position: absolute;
    right: 0px;
}
.checkbox_rember a:hover{
    color: #137cbc;
    text-decoration: underline;
}
#input_check{
    margin-right: 5px;
    width:20px;
}
.loging_form p input{
    margin-top:1px;
    height: 38px;
    line-height: 38px;
    float: left;
    border: none;
    outline: none;
    background: #fff;
    width:320px;
    margin-left: 13px;
}
/*.loging_form i{
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
}*/
.loging_form p button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #4284D9;
    color: #fff;
    transition: all 0.3s linear;
    cursor: pointer;
    font-family: '微软雅黑',arial,'宋体';
    font-size: 18px;
}
.loging_form p button:hover{
    background:#137cbc ;
}
.wechat_div{
    /*display: block;*/
    /*height: 36px;*/
    margin-top: 30px;
    /*line-height: 36px;*/
    font-size:14px;
    color: #999999 !important;
    float: right;
    cursor: pointer;
}
.wechat_div .wechat_loding{
	color: #4284D9;
}
.wechat_loding:hover a{
    color: #4183C4;
    text-decoration: underline;

}
.left_tips_list>div{
    float: left;
    background: #fff;
    overflow: hidden;
}
.left_tips_list .left_tips_center_sec{
    width:50%;
    /*margin-left:20px;*/
}

.tranform2{
    width:180px;
    height:32px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    float: right;
}
.tranform2>div img{
    width:180px;
    height:32px;
}
.tranform2>div{
    height:32px;
    width:370px;
    top:0px;
    left:0px;
    position: absolute;
    transition:all 0.2s linear;
}
.tranform2>div:hover{
    left:-180px;
}
.invite_title_list{
    height:30px;
    line-height:30px;
    margin-bottom: 20px;
}
.invite_title_list li{
    height:30px;
    box-sizing: border-box;
    padding:0px 20px;
    float: left;
    font-weight: normal;
    font-size: 12px;
    border:1px solid #e4e4e4;
    border-right:none;
    background: #fff;
    cursor: pointer;
}
.invite_title_list li:last-child{
    border-right:1px solid #e4e4e4;
    -webkit-border-radius:0px 5px 5px 0px;
    -moz-border-radius:0px 5px 5px 0px;
    border-radius:0px 5px 5px 0px;
}
.invite_title_list li:first-child{
    -webkit-border-radius:3px 0px 0px 3px;
    -moz-border-radius:3px 0px 0px 3px;
    border-radius:3px 0px 0px 3px;
}
.invite_title_list li.active{
    background: #2e8ae6;
    color: #fff;
}
.tableContorl>div{
    display: none;
}
.tableContorl>div:first-child{
    display: block;
}
.tableContorl{
    height:auto;
    overflow: hidden;
}
.tips_contants{
    height: 80px;
    line-height: 80px;
    width:300px;
    text-align: center;
    background: rgba(0,0,0,0.8);
    color: #fff;
    position: fixed;
    top:50%;
    margin-top:-150px;
    left:50%;
    margin-left: -150px;
    border-radius: 5px;
    display: none;
    z-index: 10000;
}
