<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydz.dao.advert.PurchaseCheckingOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ydz.entity.advert.PurchaseCheckingOrderDetail" >
    <id column="UID" property="uid" jdbcType="BIGINT" />
    <result column="PURCHASECHECKING_NO" property="purchasecheckingNo" jdbcType="VARCHAR" />
    <result column="ITEM_NO" property="itemNo" jdbcType="INTEGER" />
    <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
    <result column="BUSINESS_DESC" property="businessDesc" jdbcType="VARCHAR" />
    <result column="REQUIREMENTS" property="requirements" jdbcType="VARCHAR" />
    <result column="SPECIFICATION" property="specification" jdbcType="VARCHAR" />
    <result column="PRICE_WAY" property="priceWay" jdbcType="CHAR" />
    <result column="LENGTH" property="length" jdbcType="DECIMAL" />
    <result column="WIDTH" property="width" jdbcType="DECIMAL" />
    <result column="COLOR_SIZE" property="colorSize" jdbcType="DECIMAL" />
    <result column="PAIRS_NUM" property="pairsNum" jdbcType="DECIMAL" />
    <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" />
    <result column="UNIT" property="unit" jdbcType="VARCHAR" />
    <result column="UNIT_PRICE" property="unitPrice" jdbcType="DECIMAL" />
    <result column="ADDITIONAL_SERVICE" property="additionalService" jdbcType="VARCHAR" />
    <result column="ADDITIONAL_PRICE" property="additionalPrice" jdbcType="DECIMAL" />
    <result column="PREFERENTIAL" property="preferential" jdbcType="DECIMAL" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="DECIMAL" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="CHAR" />
    <result column="INVOICE_STATUS" property="invoiceStatus" jdbcType="CHAR" />
    <result column="IS_VALID" property="isValid" jdbcType="CHAR" />
    <result column="IS_DEL" property="isDel" jdbcType="CHAR" />
     <result column="PURCHASE_NO" property="purchaseNo" jdbcType="VARCHAR" />
     <result column="PURCHASE_ORDER_ITEM" property="purchaseOrderItem" jdbcType="INTEGER" />
     <result column="PURCHASE_ORDER_DATE" property="purchaseOrderDate" jdbcType="DATE" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    UID, PURCHASECHECKING_NO, ITEM_NO, BUSINESS_TYPE, BUSINESS_DESC, REQUIREMENTS, SPECIFICATION, 
    PRICE_WAY, LENGTH, WIDTH, COLOR_SIZE, PAIRS_NUM, QUANTITY, UNIT, UNIT_PRICE, ADDITIONAL_SERVICE, 
    ADDITIONAL_PRICE, PREFERENTIAL, TOTAL_PRICE, REMARKS, ORDER_STATUS, INVOICE_STATUS, 
    IS_VALID, IS_DEL, PURCHASE_NO, PURCHASE_ORDER_ITEM, PURCHASE_ORDER_DATE, CREATOR, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="pd" >
    select 
    <include refid="Base_Column_List" />
    from YDZ_PURCHASECHECKING_ORDER_DETAIL
    where IS_VALID = '1' and IS_DEL = '0' and PURCHASECHECKING_NO = #{purchasecheckingNo}
    <if test="businessType != null">
    	and BUSINESS_TYPE = #{businessType}
    </if>
    <if test="orderStatus != null">
    	and ORDER_STATUS = #{orderStatus}
    </if>
    <if test="invoiceStatus != null">
    	and INVOICE_STATUS = #{invoiceStatus}
    </if>
    order by ITEM_NO
  </select>

  <select id="selectListByPrimaryKey" resultMap="BaseResultMap" parameterType="pd" >
    select
    <include refid="Base_Column_List" />
    from YDZ_PURCHASECHECKING_ORDER_DETAIL
    where IS_VALID = '1' and IS_DEL = '0' and PURCHASECHECKING_NO = #{purchasecheckingNo}
    <if test="businessType != null">
      and BUSINESS_TYPE = #{businessType}
    </if>
    <if test="orderStatus != null">
      and ORDER_STATUS = #{orderStatus}
    </if>
    <if test="invoiceStatus != null">
      and INVOICE_STATUS = #{invoiceStatus}
    </if>
    order by ITEM_NO
  </select>
  
  <select id="selectPurchasecheckingOrderDetailVO" resultType="com.ydz.vo.TotalPurchaseCheckingOrderDetailVO" parameterType="pd" >
   SELECT
		PCD.PURCHASE_NO purchaseNo ,
		PO.ORDER_DATE orderDate ,
		PO.CASE_DESC caseDesc ,
		PC.PURCHASECHECKING_NO purchasecheckingNo ,
		PC.SALESCHECKING_NO salescheckingNo ,
		PO.PRICE purchaseOrderPrice ,
		PCD.BUSINESS_TYPE businessType ,
		PCD.BUSINESS_DESC businessDesc ,
		PCD.REQUIREMENTS requirements ,
		PCD.SPECIFICATION specification ,
		PCD.PRICE_WAY priceWay ,
		PCD.LENGTH length ,
		PCD.WIDTH width ,
		PCD.QUANTITY quantity ,
		PCD.UNIT unit ,
		PCD.UNIT_PRICE unitPrice ,
		PCD.ADDITIONAL_SERVICE additionalService ,
		PCD.ADDITIONAL_PRICE additionalPrice ,
		PCD.PREFERENTIAL preferential ,
		PCD.TOTAL_PRICE totalPrice,
		PO.IS_RECEIVED
	FROM
		YDZ_PURCHASECHECKING_ORDER_DETAIL PCD ,
		YDZ_PURCHASECHECKING_ORDER PC ,
		YDZ_PURCHASE_ORDER PO
	WHERE
		PCD.PURCHASECHECKING_NO = PC.PURCHASECHECKING_NO
	AND PCD.PURCHASE_NO = PO.PURCHASE_NO
	AND PCD.IS_VALID = '1'
	AND PC.IS_VALID = '1'
	AND PCD.IS_DEL = '0'
	AND PC.IS_DEL = '0'
	AND PCD.PURCHASECHECKING_NO = #{purchasecheckingNo}
	order by PO.ORDER_DATE ASC,PCD.CREATE_TIME DESC,PCD.ITEM_NO ASC
  </select>

  <select id="listPagePurchaseCheckingOrderDetail" resultMap="BaseResultMap" parameterType="page" >
    select 
    <include refid="Base_Column_List" />
    from YDZ_PURCHASECHECKING_ORDER_DETAIL
    where IS_VALID = '1' and IS_DEL = '0' and PURCHASECHECKING_NO = #{pd.purchasecheckingNo}
    <if test="pd.businessType != null">
    	and BUSINESS_TYPE = #{pd.businessType}
    </if>
    <if test="pd.orderStatus != null">
    	and ORDER_STATUS = #{pd.orderStatus}
    </if>
    <if test="pd.invoiceStatus != null">
    	and INVOICE_STATUS = #{pd.invoiceStatus}
    </if>
    order by ITEM_NO
  </select>

  <select id="batchSelectPurchaseCheckingOrderDetail" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
      <include refid="Base_Column_List" />
    from YDZ_PURCHASECHECKING_ORDER_DETAIL
    where IS_VALID = '1' and IS_DEL = '0'
    AND PURCHASECHECKING_NO
    in
    <foreach collection="orderNos" item="item" index="index" open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>

  </select>
  
  <select id="getCountOrderDetail" resultType="java.lang.Integer" parameterType="pd">
   select COUNT(d.PURCHASE_NO) orderDetailCount
    from YDZ_PURCHASECHECKING_ORDER_DETAIL d, YDZ_PURCHASECHECKING_ORDER p
  	where d.PURCHASECHECKING_NO = p.PURCHASECHECKING_NO and d.IS_VALID = '1' and p.IS_VALID = '1' and d.IS_DEL = '0' and p.COM_KEY = #{comKey}
    <if test="purchasecheckingNo != null">
    	and p.PURCHASECHECKING_NO = #{purchasecheckingNo}
    </if>
    <if test="partnerKey != null">
    	and p.PARTNER_KEY = #{partnerKey}
    </if>    
    <if test="pd.partnerName != null">
    	and p.PARTNER_NAME LIKE '%${partnerName}%'
    </if>
    <if test="startDate != null and endDate !=null">
    	and p.ORDER_DATE BETWEEN #{startDate} AND #{endDate}
    </if>
    <if test="isUrgent != null">
    	and p.IS_URGENT = #{isUrgent}
    </if>
    <if test="orderStatus != null">
    	and p.ORDER_STATUS = #{orderStatus}
    </if>
    <if test="orderStatusIN != null">
      and p.ORDER_STATUS IN 
      <foreach collection="orderStatusIN" item="item" index="index"
		open="(" separator="," close=")">#{item}</foreach>
    </if>
    <if test=" isSynchro != null">
    	and p.SALESCHECKING_NO is not null
    </if>
    <if test=" notSynchro != null">
    	and p.SALESCHECKING_NO is null
    </if>
  </select>
  
  <select id="getGroupBusinessDesc" resultType="java.lang.String" parameterType="pd">
  	 SELECT
		GROUP_CONCAT( BUSINESS_DESC SEPARATOR ";" ) groupBusinessDesc
	FROM
		YDZ_PURCHASECHECKING_ORDER_DETAIL 
	WHERE
		PURCHASECHECKING_NO = #{purchasecheckingNo}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="pd" >
    delete from YDZ_PURCHASECHECKING_ORDER_DETAIL
     where PURCHASECHECKING_NO = #{purchasecheckingNo}
  </delete>
  <insert id="insertList" parameterType="java.util.List" >
    insert into YDZ_PURCHASECHECKING_ORDER_DETAIL (PURCHASECHECKING_NO, ITEM_NO, 
      BUSINESS_TYPE, BUSINESS_DESC, REQUIREMENTS, 
      SPECIFICATION, PRICE_WAY, LENGTH, 
      WIDTH, COLOR_SIZE, PAIRS_NUM, 
      QUANTITY, UNIT, UNIT_PRICE, 
      ADDITIONAL_SERVICE, ADDITIONAL_PRICE, PREFERENTIAL, 
      TOTAL_PRICE, REMARKS, ORDER_STATUS, 
      INVOICE_STATUS, IS_VALID, IS_DEL, PURCHASE_NO, PURCHASE_ORDER_ITEM, PURCHASE_ORDER_DATE,
      CREATOR, CREATE_TIME)
    values 
    <foreach collection="list" item="item" index="index"
    	separator=",">
	    (#{item.purchasecheckingNo,jdbcType=VARCHAR}, #{item.itemNo,jdbcType=INTEGER}, 
	      #{item.businessType,jdbcType=VARCHAR}, #{item.businessDesc,jdbcType=VARCHAR}, #{item.requirements,jdbcType=VARCHAR}, 
	      #{item.specification,jdbcType=VARCHAR}, #{item.priceWay,jdbcType=CHAR}, #{item.length,jdbcType=DECIMAL}, 
	      #{item.width,jdbcType=DECIMAL}, #{item.colorSize,jdbcType=DECIMAL}, #{item.pairsNum,jdbcType=DECIMAL}, 
	      #{item.quantity,jdbcType=DECIMAL}, #{item.unit,jdbcType=VARCHAR}, #{item.unitPrice,jdbcType=DECIMAL}, 
	      #{item.additionalService,jdbcType=VARCHAR}, #{item.additionalPrice,jdbcType=DECIMAL}, #{item.preferential,jdbcType=DECIMAL}, 
	      #{item.totalPrice,jdbcType=DECIMAL}, #{item.remarks,jdbcType=VARCHAR}, #{item.orderStatus,jdbcType=CHAR}, 
	      #{item.invoiceStatus,jdbcType=CHAR}, #{item.isValid,jdbcType=CHAR}, #{item.isDel,jdbcType=CHAR}, #{item.purchaseNo,jdbcType=VARCHAR}, #{item.purchaseOrderItem,jdbcType=INTEGER}, #{item.purchaseOrderDate,jdbcType=DATE}, 
	      #{item.creator,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP})
     </foreach> 
  </insert>
  <insert id="insertSelective" parameterType="com.ydz.entity.advert.PurchaseCheckingOrderDetail" >
    insert into YDZ_PURCHASECHECKING_ORDER_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="purchasecheckingNo != null" >
        PURCHASECHECKING_NO,
      </if>
      <if test="itemNo != null" >
        ITEM_NO,
      </if>
      <if test="businessType != null" >
        BUSINESS_TYPE,
      </if>
      <if test="businessDesc != null" >
        BUSINESS_DESC,
      </if>
      <if test="requirements != null" >
        REQUIREMENTS,
      </if>
      <if test="specification != null" >
        SPECIFICATION,
      </if>
      <if test="priceWay != null" >
        PRICE_WAY,
      </if>
      <if test="length != null" >
        LENGTH,
      </if>
      <if test="width != null" >
        WIDTH,
      </if>
      <if test="colorSize != null" >
        COLOR_SIZE,
      </if>
      <if test="pairsNum != null" >
        PAIRS_NUM,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
      <if test="unit != null" >
        UNIT,
      </if>
      <if test="unitPrice != null" >
        UNIT_PRICE,
      </if>
      <if test="additionalService != null" >
        ADDITIONAL_SERVICE,
      </if>
      <if test="additionalPrice != null" >
        ADDITIONAL_PRICE,
      </if>
      <if test="preferential != null" >
        PREFERENTIAL,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="invoiceStatus != null" >
        INVOICE_STATUS,
      </if>
      <if test="isValid != null" >
        IS_VALID,
      </if>
      <if test="isDel != null" >
        IS_DEL,
      </if>
      <if test="purchaseNo != null" >
        PURCHASE_NO,
      </if>
      <if test="purchaseOrderItem != null" >
        PURCHASE_ORDER_ITEM,
      </if>
      <if test="purchaseOrderDate != null" >
        PURCHASE_ORDER_DATE,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="purchasecheckingNo != null" >
        #{purchasecheckingNo,jdbcType=VARCHAR},
      </if>
      <if test="itemNo != null" >
        #{itemNo,jdbcType=INTEGER},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="businessDesc != null" >
        #{businessDesc,jdbcType=VARCHAR},
      </if>
      <if test="requirements != null" >
        #{requirements,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="priceWay != null" >
        #{priceWay,jdbcType=CHAR},
      </if>
      <if test="length != null" >
        #{length,jdbcType=DECIMAL},
      </if>
      <if test="width != null" >
        #{width,jdbcType=DECIMAL},
      </if>
      <if test="colorSize != null" >
        #{colorSize,jdbcType=DECIMAL},
      </if>
      <if test="pairsNum != null" >
        #{pairsNum,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="additionalService != null" >
        #{additionalService,jdbcType=VARCHAR},
      </if>
      <if test="additionalPrice != null" >
        #{additionalPrice,jdbcType=DECIMAL},
      </if>
      <if test="preferential != null" >
        #{preferential,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="invoiceStatus != null" >
        #{invoiceStatus,jdbcType=CHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=CHAR},
      </if>
      <if test="purchaseNo != null" >
        #{purchaseNo,jdbcType=VARCHAR},
      </if>
      <if test="purchaseOrderItem != null" >
        #{purchaseOrderItem,jdbcType=INTEGER},
      </if>
      <if test="purchaseOrderDate != null" >
        #{purchaseOrderDate,jdbcType=DATE},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ydz.entity.advert.PurchaseCheckingOrderDetail" >
    update YDZ_PURCHASECHECKING_ORDER_DETAIL
    <set >
      <if test="purchasecheckingNo != null" >
        PURCHASECHECKING_NO = #{purchasecheckingNo,jdbcType=VARCHAR},
      </if>
      <if test="itemNo != null" >
        ITEM_NO = #{itemNo,jdbcType=INTEGER},
      </if>
      <if test="businessType != null" >
        BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="businessDesc != null" >
        BUSINESS_DESC = #{businessDesc,jdbcType=VARCHAR},
      </if>
      <if test="requirements != null" >
        REQUIREMENTS = #{requirements,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        SPECIFICATION = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="priceWay != null" >
        PRICE_WAY = #{priceWay,jdbcType=CHAR},
      </if>
      <if test="length != null" >
        LENGTH = #{length,jdbcType=DECIMAL},
      </if>
      <if test="width != null" >
        WIDTH = #{width,jdbcType=DECIMAL},
      </if>
      <if test="colorSize != null" >
        COLOR_SIZE = #{colorSize,jdbcType=DECIMAL},
      </if>
      <if test="pairsNum != null" >
        PAIRS_NUM = #{pairsNum,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        UNIT_PRICE = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="additionalService != null" >
        ADDITIONAL_SERVICE = #{additionalService,jdbcType=VARCHAR},
      </if>
      <if test="additionalPrice != null" >
        ADDITIONAL_PRICE = #{additionalPrice,jdbcType=DECIMAL},
      </if>
      <if test="preferential != null" >
        PREFERENTIAL = #{preferential,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="invoiceStatus != null" >
        INVOICE_STATUS = #{invoiceStatus,jdbcType=CHAR},
      </if>
      <if test="isValid != null" >
        IS_VALID = #{isValid,jdbcType=CHAR},
      </if>
      <if test="isDel != null" >
        IS_DEL = #{isDel,jdbcType=CHAR},
      </if>
      <if test="purchaseNo != null" >
        PURCHASE_NO = #{purchaseNo,jdbcType=VARCHAR},
      </if>
      <if test="purchaseOrderItem != null" >
        PURCHASE_ORDER_ITEM = #{purchaseOrderItem,jdbcType=INTEGER},
      </if>
      <if test="purchaseOrderDate != null" >
        PURCHASE_ORDER_DATE = #{purchaseOrderDate,jdbcType=DATE},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where COM_KEY = #{comKey} and PURCHASECHECKING_NO = #{pd.purchasecheckingNo}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ydz.entity.advert.PurchaseCheckingOrderDetail" >
    update YDZ_PURCHASECHECKING_ORDER_DETAIL
    set PURCHASECHECKING_NO = #{purchasecheckingNo,jdbcType=VARCHAR},
      ITEM_NO = #{itemNo,jdbcType=INTEGER},
      BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR},
      BUSINESS_DESC = #{businessDesc,jdbcType=VARCHAR},
      REQUIREMENTS = #{requirements,jdbcType=VARCHAR},
      SPECIFICATION = #{specification,jdbcType=VARCHAR},
      PRICE_WAY = #{priceWay,jdbcType=CHAR},
      LENGTH = #{length,jdbcType=DECIMAL},
      WIDTH = #{width,jdbcType=DECIMAL},
      COLOR_SIZE = #{colorSize,jdbcType=DECIMAL},
      PAIRS_NUM = #{pairsNum,jdbcType=DECIMAL},
      QUANTITY = #{quantity,jdbcType=DECIMAL},
      UNIT = #{unit,jdbcType=VARCHAR},
      UNIT_PRICE = #{unitPrice,jdbcType=DECIMAL},
      ADDITIONAL_SERVICE = #{additionalService,jdbcType=VARCHAR},
      ADDITIONAL_PRICE = #{additionalPrice,jdbcType=DECIMAL},
      PREFERENTIAL = #{preferential,jdbcType=DECIMAL},
      TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      ORDER_STATUS = #{orderStatus,jdbcType=CHAR},
      INVOICE_STATUS = #{invoiceStatus,jdbcType=CHAR},
      IS_VALID = #{isValid,jdbcType=CHAR},
      IS_DEL = #{isDel,jdbcType=CHAR},
      PURCHASE_NO = #{purchaseNo,jdbcType=VARCHAR},
      PURCHASE_ORDER_ITEM = #{purchaseOrderItem,jdbcType=INTEGER},
      PURCHASE_ORDER_DATE = #{purchaseOrderDate,jdbcType=DATE},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where COM_KEY = #{comKey} and PURCHASECHECKING_NO = #{pd.purchasecheckingNo}
  </update>
  
  <!--批量修改订单明细状态-->
  <update id="updateBatchDetailByPurchaseCheckingNoIn" parameterType="pd">
    UPDATE YDZ_PURCHASECHECKING_ORDER_DETAIL
    SET
    ORDER_STATUS = #{orderStatus,jdbcType=CHAR}
    where PURCHASECHECKING_NO IN
    <foreach collection="purchasecheckingNoIn" item="item" index="index" open="(" separator="," close=")">
    	#{item}
    </foreach>
  </update>
</mapper>