<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydz.dao.advert.SalesCheckingOrderMapper" >
  <resultMap id="BaseResultMap" type="com.ydz.entity.advert.SalesCheckingOrder" >
    <id column="UID" property="uid" jdbcType="BIGINT" />
    <result column="SALESCHECKING_NO" property="salescheckingNo" jdbcType="VARCHAR" />
    <result column="COM_KEY" property="comKey" jdbcType="VARCHAR" />
    <result column="PARTNER_KEY" property="partnerKey" jdbcType="VARCHAR" />
    <result column="PARTNER_NAME" property="partnerName" jdbcType="VARCHAR" />
    <result column="PARTNER_SHORTNAME" property="partnerShortname" jdbcType="VARCHAR" />
    <result column="SALES_ID" property="salesId" jdbcType="VARCHAR" />
    <result column="SALES_NAME" property="salesName" jdbcType="VARCHAR" />
    <result column="CONTACT_ID" property="contactId" jdbcType="VARCHAR" />
    <result column="CONTACT_NAME" property="contactName" jdbcType="VARCHAR" />
    <result column="ORDER_SELF_NO" property="orderSelfNo" jdbcType="VARCHAR" />
    <result column="ORDER_CYCLE" property="orderCycle" jdbcType="VARCHAR" />
    <result column="CASE_DESC" property="caseDesc" jdbcType="VARCHAR" />
    <result column="ORDER_DATE" property="orderDate" jdbcType="DATE" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="DISCOUNT_RATE" property="discountRate" jdbcType="DECIMAL" />
    <result column="DISCOUNT" property="discount" jdbcType="DECIMAL" />
    <result column="TAX_RATE" property="taxRate" jdbcType="DECIMAL" />
    <result column="TAX_PRICE" property="taxPrice" jdbcType="DECIMAL" />
    <result column="PREFERENTIAL" property="preferential" jdbcType="DECIMAL" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="DECIMAL" />
    <result column="DEPOSIT_REQUESTED" property="depositRequested" jdbcType="DECIMAL" />
    <result column="RECEIVABLES_MONEY" property="receivablesMoney" jdbcType="DECIMAL" />
    <result column="INVOICE_MONEY" property="invoiceMoney" jdbcType="DECIMAL" />
    <result column="PAID_UP" property="paidUp" jdbcType="DECIMAL" />
    <result column="BALANCE_MONEY" property="balanceMoney" jdbcType="DECIMAL" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="CHAR" />
    <result column="INVOICE_STATUS" property="invoiceStatus" jdbcType="CHAR" />
    <result column="ORDER_TYPE" property="orderType" jdbcType="CHAR" />
    <result column="SALES_ORDER_NUM" property="salesOrderNum" jdbcType="SMALLINT" />
    <result column="DETAIL_NUM" property="detailNum" jdbcType="SMALLINT" />
    <result column="IS_SETTLEMENT" property="isSettlement" jdbcType="CHAR" />
    <result column="IS_VALID" property="isValid" jdbcType="CHAR" />
    <result column="IS_DEL" property="isDel" jdbcType="CHAR" />
    <result column="CHANGED_TIME" property="changedTime" jdbcType="TIMESTAMP" />
    <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
    <result column="INDUSTRY_ID" property="industryId" jdbcType="VARCHAR" />
    <result column="SALES_NO" property="salesNo" jdbcType="VARCHAR" />
    <result column="PURCHASECHECKING_NO" property="purchasecheckingNo" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="BaseResultMapVO" type="com.ydz.vo.AllSalesCheckingOrderVO" >
    <id column="UID" property="uid" jdbcType="BIGINT" />
    <result column="SALESCHECKING_NO" property="salescheckingNo" jdbcType="VARCHAR" />
    <result column="COM_KEY" property="comKey" jdbcType="VARCHAR" />
    <result column="PARTNER_KEY" property="partnerKey" jdbcType="VARCHAR" />
    <result column="PARTNER_NAME" property="partnerName" jdbcType="VARCHAR" />
    <result column="PARTNER_SHORTNAME" property="partnerShortname" jdbcType="VARCHAR" />
    <result column="SALES_ID" property="salesId" jdbcType="VARCHAR" />
    <result column="SALES_NAME" property="salesName" jdbcType="VARCHAR" />
    <result column="CONTACT_ID" property="contactId" jdbcType="VARCHAR" />
    <result column="CONTACT_NAME" property="contactName" jdbcType="VARCHAR" />
    <result column="ORDER_SELF_NO" property="orderSelfNo" jdbcType="VARCHAR" />
    <result column="ORDER_CYCLE" property="orderCycle" jdbcType="VARCHAR" />
    <result column="CASE_DESC" property="caseDesc" jdbcType="VARCHAR" />
    <result column="ORDER_DATE" property="orderDate" jdbcType="DATE" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="DISCOUNT_RATE" property="discountRate" jdbcType="DECIMAL" />
    <result column="DISCOUNT" property="discount" jdbcType="DECIMAL" />
    <result column="TAX_RATE" property="taxRate" jdbcType="DECIMAL" />
    <result column="TAX_PRICE" property="taxPrice" jdbcType="DECIMAL" />
    <result column="PREFERENTIAL" property="preferential" jdbcType="DECIMAL" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="DECIMAL" />
    <result column="DEPOSIT_REQUESTED" property="depositRequested" jdbcType="DECIMAL" />
    <result column="RECEIVABLES_MONEY" property="receivablesMoney" jdbcType="DECIMAL" />
    <result column="INVOICE_MONEY" property="invoiceMoney" jdbcType="DECIMAL" />
    <result column="PAID_UP" property="paidUp" jdbcType="DECIMAL" />
    <result column="BALANCE_MONEY" property="balanceMoney" jdbcType="DECIMAL" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="CHAR" />
    <result column="INVOICE_STATUS" property="invoiceStatus" jdbcType="CHAR" />
    <result column="ORDER_TYPE" property="orderType" jdbcType="CHAR" />
    <result column="SALES_ORDER_NUM" property="salesOrderNum" jdbcType="SMALLINT" />
    <result column="DETAIL_NUM" property="detailNum" jdbcType="SMALLINT" />
    <result column="IS_SETTLEMENT" property="isSettlement" jdbcType="CHAR" />
    <result column="IS_VALID" property="isValid" jdbcType="CHAR" />
    <result column="IS_DEL" property="isDel" jdbcType="CHAR" />
    <result column="CHANGED_TIME" property="changedTime" jdbcType="TIMESTAMP" />
    <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
    <result column="INDUSTRY_ID" property="industryId" jdbcType="VARCHAR" />
    <result column="SALES_NO" property="salesNo" jdbcType="VARCHAR" />
    <result column="PURCHASECHECKING_NO" property="purchasecheckingNo" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="RECPAY_NAME" property="recpayName" jdbcType="VARCHAR" />
    <result column="RECPAY_DATE" property="recpayDate" jdbcType="DATE" />
    <result column="ACCOUNT_PAYEE" property="accountPayee" jdbcType="VARCHAR" />
    <result column="INVOICE_DATE" property="invoiceDate" jdbcType="DATE" />
    <result column="INVOICE_AMOUNT" property="invoiceAmount" jdbcType="DECIMAL" />
    <result column="COM_NAME" property="ciComName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    UID, SALESCHECKING_NO, COM_KEY, PARTNER_KEY, PARTNER_NAME, PARTNER_SHORTNAME, SALES_ID, SALES_NAME, 
    CONTACT_ID, CONTACT_NAME, ORDER_SELF_NO, ORDER_CYCLE, CASE_DESC, ORDER_DATE, PRICE, DISCOUNT_RATE, 
    DISCOUNT, TAX_RATE, TAX_PRICE, PREFERENTIAL, TOTAL_PRICE, DEPOSIT_REQUESTED, RECEIVABLES_MONEY, 
    INVOICE_MONEY, PAID_UP, BALANCE_MONEY, REMARKS, ORDER_STATUS, INVOICE_STATUS, ORDER_TYPE, SALES_ORDER_NUM, 
    DETAIL_NUM, IS_VALID, IS_SETTLEMENT, IS_DEL, CHANGED_TIME, BUSINESS_TYPE, INDUSTRY_ID, SALES_NO, PURCHASECHECKING_NO,
    CREATOR, CREATE_TIME
  </sql>
   <sql id="Base_Column_List_COPY" >
    SCO.UID, SCO.SALESCHECKING_NO, SCO.COM_KEY, SCO.PARTNER_KEY, SCO.PARTNER_NAME, SCO.PARTNER_SHORTNAME, SCO.SALES_ID, SCO.SALES_NAME, 
    SCO.CONTACT_ID, SCO.CONTACT_NAME, SCO.ORDER_SELF_NO, SCO.ORDER_CYCLE, SCO.CASE_DESC, SCO.ORDER_DATE, SCO.PRICE, SCO.DISCOUNT_RATE, 
    SCO.DISCOUNT, SCO.TAX_RATE, SCO.TAX_PRICE, SCO.PREFERENTIAL, SCO.TOTAL_PRICE, SCO.DEPOSIT_REQUESTED, SCO.RECEIVABLES_MONEY, 
    SCO.INVOICE_MONEY, SCO.PAID_UP, SCO.BALANCE_MONEY, SCO.REMARKS, SCO.ORDER_STATUS, SCO.INVOICE_STATUS, SCO.ORDER_TYPE, SCO.SALES_ORDER_NUM, 
    SCO.DETAIL_NUM, SCO.IS_VALID, SCO.IS_SETTLEMENT, SCO.IS_DEL, SCO.CHANGED_TIME, SCO.BUSINESS_TYPE, SCO.INDUSTRY_ID, SCO.SALES_NO, SCO.PURCHASECHECKING_NO,
    SCO.CREATOR, SCO.CREATE_TIME
  </sql>
  <sql id="Base_Column_List_VO" >
    SO.UID, SO.SALESCHECKING_NO, SO.COM_KEY, SO.PARTNER_KEY, SO.PARTNER_NAME, SO.PARTNER_SHORTNAME, SO.SALES_ID, SO.SALES_NAME,
    SO.CONTACT_ID, SO.CONTACT_NAME, SO.ORDER_SELF_NO, SO.ORDER_CYCLE, SO.CASE_DESC, SO.ORDER_DATE, SO.PRICE, SO.DISCOUNT_RATE,
    SO.DISCOUNT, SO.TAX_RATE, SO.TAX_PRICE, SO.PREFERENTIAL, SO.TOTAL_PRICE, SO.DEPOSIT_REQUESTED, SO.RECEIVABLES_MONEY,
    SO.INVOICE_MONEY, SO.PAID_UP, SO.BALANCE_MONEY ,SO.REMARKS, SO.ORDER_STATUS, SO.INVOICE_STATUS, SO.ORDER_TYPE, SO.SALES_ORDER_NUM,
    SO.DETAIL_NUM, SO.IS_VALID, SO.IS_DEL, SO.CHANGED_TIME, SO.BUSINESS_TYPE, SO.INDUSTRY_ID, SO.SALES_NO, SO.PURCHASECHECKING_NO,
    SO.CREATOR, SO.CREATE_TIME,
    RP.RECPAY_NAME AS recpayName,
    RP.RECPAY_DATE AS recpayDate,
    RP.ACCOUNT_PAYEE AS accountPayee,
    RP.REMARKS AS balanceRemarks,
    CI.INVOICE_DATE AS invoiceDate,
    CI.COM_NAME AS ciComName,
    CI.INVOICE_AMOUNT AS invoiceAmount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="pd" >
    select 
    <include refid="Base_Column_List_COPY" />,U.REAL_NAME creatorName ,P.PARTNER_ADDRESS partnerAddress
    from YDZ_SALESCHECKING_ORDER SCO
    JOIN YDZ_USER U ON U.USER_KEY = SCO.CREATOR
    JOIN YDZ_PARTNER P ON SCO.PARTNER_KEY = P.PARTNER_KEY
    where SCO.IS_VALID = '1' AND SCO.IS_DEL = '0' and SCO.SALESCHECKING_NO = #{salescheckingNo}
    <if test="comKey != null">
    	and SCO.COM_KEY = #{comKey}
    </if>
    <if test="partnerKey != null">
    	and SCO.PARTNER_KEY = #{partnerKey}
    </if>    
    <if test="partnerName != null">
    	and SCO.PARTNER_NAME LIKE '%${partnerName}%'
    </if>
    <if test="startDate != null and endDate !=null">
    	and SCO.ORDER_DATE BETWEEN #{startDate} AND #{endDate}
    </if>
    <if test="isUrgent != null">
    	and SCO.IS_URGENT = #{isUrgent}
    </if>
    <if test="orderStatus != null">
    	and SCO.ORDER_STATUS = #{orderStatus}
    </if>
    <if test="invoiceStatus != null">
    	and SCO.INVOICE_STATUS = #{invoiceStatus}
    </if>
    <if test="industryId != null">
    	and SCO.INDUSTRY_ID = #{industryId}
    </if>
    <if test="salesNo != null">
    	and SCO.SALES_NO = #{salesNo}
    </if>
    <if test="purchasecheckingNo !=null ">
    	and SCO.PURCHASECHECKING_NO = #{purchasecheckingNo}
    </if>
    order by SCO.UID
  </select>

  <select id="listPageAllSalesCheckingOrderConCat" resultMap="BaseResultMapVO" parameterType="page" >
    select DISTINCT
    <include refid="Base_Column_List_VO" />,CONCAT(SO.SALES_ORDER_NUM,' (',SO.DETAIL_NUM,')') orderCountValue
    from YDZ_SALESCHECKING_ORDER SO
    LEFT JOIN YDZ_RECEIPT_PAYMENT RP on SO.SALESCHECKING_NO = RP.CHECKING_NO
    LEFT JOIN YDZ_CHECKING_INVOICE CI on SO.SALESCHECKING_NO = CI.CHECKING_NO
    where SO.IS_VALID = '1' AND SO.IS_DEL = '0' AND SO.SALESCHECKING_NO IN (
    	SELECT DISTINCT
    		s.SALESCHECKING_NO
    	FROM YDZ_SALESCHECKING_ORDER s,YDZ_SALESCHECKING_ORDER_DETAIL d
    	where s.IS_VALID = '1' AND d.IS_DEL = '0' AND d.IS_VALID = '1' AND d.IS_DEL = '0'
    	AND s.SALESCHECKING_NO = d.SALESCHECKING_NO
    	and s.COM_KEY = #{pd.comKey}
    	<if test="pd.partnerKey != null">
	    	and s.PARTNER_KEY = #{pd.partnerKey}
	    </if>    
	    <if test="pd.partnerName != null">
	    	and s.PARTNER_NAME LIKE '%${pd.partnerName}%'
	    </if>
	    <if test="pd.contacterId != null">
	    	and s.CONTACT_ID = #{pd.contacterId}
	    </if>
	    <if test="pd.startDate != null">
	    	and s.CREATE_TIME &gt;= #{pd.startDate}
	    </if>
	    <if test="pd.endDate !=null">
	    	and s.CREATE_TIME &lt;= #{pd.endDate}
	    </if>
	    <if test="pd.searchKey != null">
	    	AND CONCAT(s.SALESCHECKING_NO,s.CASE_DESC,d.BUSINESS_DESC) LIKE '%${pd.searchKey}%'
	    </if>
	    <if test="pd.orderStatus != null">
	    	and s.ORDER_STATUS = #{pd.orderStatus}
	    </if>
	    <if test="pd.invoiceStatus != null">
	        and s.INVOICE_STATUS = #{pd.invoiceStatus}
	    </if>
	    <if test="pd.industryId != null">
	    	and s.INDUSTRY_ID = #{pd.industryId}
	    </if>
	    <if test="pd.salesNo != null">
	    	and s.SALES_NO = #{pd.salesNo}
	    </if>
	    <if test="pd.purchasecheckingNo != null">
	    	and s.PURCHASECHECKING_NO = #{pd.purchasecheckingNo}
	    </if>	
    )
    <if test="pd.uidSort != null">
    	order by SO.UID DESC
    </if>
    <if test="pd.recPayDateSort != null">
    	order by RP.RECPAY_DATE DESC,SO.CREATE_TIME DESC
    </if>
  </select>
  
  <select id="listPageAllSalesCheckingOrder" resultMap="BaseResultMapVO" parameterType="page" >
    select
    <include refid="Base_Column_List_VO" />
    from YDZ_SALESCHECKING_ORDER SO
    LEFT JOIN YDZ_RECEIPT_PAYMENT RP on SO.SALESCHECKING_NO = RP.CHECKING_NO
    LEFT JOIN YDZ_CHECKING_INVOICE CI on SO.SALESCHECKING_NO = CI.CHECKING_NO
    where SO.IS_VALID = '1' AND SO.IS_DEL = '0' and SO.COM_KEY = #{pd.comKey}
    <if test="pd.salescheckingNo != null">
      and SO.SALESCHECKING_NO = #{pd.salescheckingNo}
    </if>
    <if test="pd.partnerKey != null">
      and SO.PARTNER_KEY = #{pd.partnerKey}
    </if>
    <if test="pd.partnerName != null">
      and SO.PARTNER_NAME LIKE '%${pd.partnerName}%'
    </if>
    <if test="pd.startDate != null and pd.endDate !=null">
      and SO.ORDER_DATE BETWEEN #{pd.startDate} AND #{pd.endDate}
    </if>
    <if test="pd.isUrgent != null">
      and SO.IS_URGENT = #{pd.isUrgent}
    </if>
    <if test="pd.orderStatus != null">
      and SO.ORDER_STATUS = #{pd.orderStatus}
    </if>
    <if test="pd.orderStatusIN != null">
      and SO.ORDER_STATUS IN ${pd.orderStatusIN}
    </if>
    <if test="pd.invoiceStatus != null">
      and SO.INVOICE_STATUS = #{pd.invoiceStatus}
    </if>
    <if test="pd.industryId != null">
      and SO.INDUSTRY_ID = #{pd.industryId}
    </if>
    <if test="pd.salesNo != null">
      and SO.SALES_NO = #{pd.salesNo}
    </if>
    <if test="pd.purchasecheckingNo != null">
      and SO.PURCHASECHECKING_NO = #{pd.purchasecheckingNo}
    </if>
    order by SO.UID desc
  </select>


  <select id="listPageSalesCheckingOrder" resultMap="BaseResultMap" parameterType="page" >
    select 
    <include refid="Base_Column_List" />
    from YDZ_SALESCHECKING_ORDER
    where IS_VALID = '1' AND IS_DEL = '0' and COM_KEY = #{pd.comKey}
    <if test="pd.salescheckingNo != null">
    	and SALESCHECKING_NO = #{pd.salescheckingNo}
    </if>
    <if test="pd.partnerKey != null">
    	and PARTNER_KEY = #{pd.partnerKey}
    </if>    
    <if test="pd.partnerName != null">
    	and PARTNER_NAME LIKE '%${pd.partnerName}%'
    </if>
    <if test="pd.startDate != null and pd.endDate !=null">
    	and ORDER_DATE BETWEEN #{pd.startDate} AND #{pd.endDate}
    </if>
    <if test="pd.isUrgent != null">
    	and IS_URGENT = #{pd.isUrgent}
    </if>
    <if test="pd.orderStatus != null">
    	and ORDER_STATUS = #{pd.orderStatus}
    </if>
    <if test="pd.orderStatusIN != null">
      and ORDER_STATUS IN ${pd.orderStatusIN}
    </if>
    <if test="pd.invoiceStatus != null">
        and INVOICE_STATUS = #{pd.invoiceStatus}
    </if>
    <if test="pd.industryId != null">
    	and INDUSTRY_ID = #{pd.industryId}
    </if>
    <if test="pd.salesNo != null">
    	and SALES_NO = #{pd.salesNo}
    </if>
    <if test="pd.purchasecheckingNo != null">
    	and PURCHASECHECKING_NO = #{pd.purchasecheckingNo}
    </if>
    order by UID DESC
  </select>
  
  <select id="listCheckingOrderByOrderNos" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from YDZ_SALESCHECKING_ORDER
    where COM_KEY = #{comKey} and SALESCHECKING_NO
    in
    <foreach collection="orderNo" item="item" index="index" open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="selectCountOrderStatus" resultType="com.ydz.entity.workbench.TodoCountVO" parameterType="pd" useCache="false">
  	 select count(ORDER_STATUS) orderCount,ORDER_STATUS orderStatus,COM_KEY comKey
  	 from YDZ_SALESCHECKING_ORDER
  	 where IS_VALID = '1' AND IS_DEL = '0' 
  	 	and ORDER_STATUS = #{orderStatus} and COM_KEY = #{comKey}
  </select>
  
  <select id="getSalescheckingOrderNos" resultMap="BaseResultMap" parameterType="pd" >
    SELECT DISTINCT
   		s.SALESCHECKING_NO
   	FROM YDZ_SALESCHECKING_ORDER s,YDZ_SALESCHECKING_ORDER_DETAIL d
   	where s.IS_VALID = '1' AND d.IS_DEL = '0' AND d.IS_VALID = '1' AND d.IS_DEL = '0'
   	AND s.SALESCHECKING_NO = d.SALESCHECKING_NO
   	and s.COM_KEY = #{comKey}
   	<if test="partnerKey != null">
    	and s.PARTNER_KEY = #{partnerKey}
    </if>    
    <if test="partnerName != null">
    	and s.PARTNER_NAME LIKE '%${partnerName}%'
    </if>
    <if test="startDate != null">
    	and s.CREATE_TIME &gt;= #{startDate}
    </if>
    <if test="endDate !=null">
    	and s.CREATE_TIME &lt;= #{endDate}
    </if>
    <if test="searchKey != null">
    	AND CONCAT(s.SALESCHECKING_NO,s.CASE_DESC,d.BUSINESS_DESC) LIKE '%${searchKey}%'
    </if>
    <if test="orderStatus != null">
    	and s.ORDER_STATUS = #{orderStatus}
    </if>
    <if test="invoiceStatus != null">
        and s.INVOICE_STATUS = #{invoiceStatus}
    </if>
    <if test="industryId != null">
    	and s.INDUSTRY_ID = #{industryId}
    </if>
    <if test="salesNo != null">
    	and s.SALES_NO = #{salesNo}
    </if>
    <if test="purchasecheckingNo != null">
    	and s.PURCHASECHECKING_NO = #{purchasecheckingNo}
    </if>	
  </select>
  
  <select id="selectSumSalesCheckingOrder" resultType="com.ydz.vo.OrderTotalVO" parameterType="pd" >
    select 
	    sum(TOTAL_PRICE) sumTotalPrice,
	    sum(RECEIVABLES_MONEY) sumReceivablesMoney,
	    sum(DEPOSIT_REQUESTED) sumDepositRequested,
	    sum(PAID_UP) sumPaidUp,
	    count(SALES_NO) orderCount 
	from YDZ_SALESCHECKING_ORDER
    where IS_VALID = '1' AND IS_DEL = '0' and COM_KEY = #{comKey}
    <if test="salescheckingNo != null">
    	and SALESCHECKING_NO = #{salescheckingNo}
    </if>
    <if test="partnerKey != null">
    	and PARTNER_KEY = #{partnerKey}
    </if>    
    <if test="partnerName != null">
    	and PARTNER_NAME LIKE '%${partnerName}%'
    </if>
    <if test="startDate != null and endDate !=null">
    	and ORDER_DATE BETWEEN #{startDate} AND #{endDate}
    </if>
    <if test="isUrgent != null">
    	and IS_URGENT = #{isUrgent}
    </if>
    <if test="orderStatus != null">
    	and ORDER_STATUS = #{orderStatus}
    </if>
	<if test="orderStatusIN != null">
      and ORDER_STATUS IN 
      <foreach collection="orderStatusIN" item="item" index="index"
		open="(" separator="," close=")">#{item}</foreach>
    </if>
    <if test="salescheckingNoList != null">
    	and SALESCHECKING_NO in
	    <foreach collection="salescheckingNoList" item="item" index="index" open="(" separator="," close=")">
	      #{item,jdbcType=VARCHAR}
	    </foreach>
    </if>
  </select>
  
  <select id="selectSalesNoIns" resultType="java.lang.String" parameterType="pd">
  	select GROUP_CONCAT(SALES_NO) salesNos 
  	from ydz_saleschecking_order_detail
  	where IS_VALID = '1' AND IS_DEL = '0'
  	AND SALESCHECKING_NO IN ${salescheckingNoIns}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="pd" >
    delete from YDZ_SALESCHECKING_ORDER
    where COM_KEY = #{comKey} and SALESCHECKING_NO = #{salescheckingNo}
  </delete>
  <insert id="insertList" parameterType="java.util.List" >
    insert into YDZ_SALESCHECKING_ORDER (SALESCHECKING_NO, COM_KEY, 
      PARTNER_KEY, PARTNER_NAME, PARTNER_SHORTNAME, SALES_ID, 
      SALES_NAME, CONTACT_ID, CONTACT_NAME, 
      ORDER_SELF_NO, ORDER_CYCLE, CASE_DESC, ORDER_DATE, 
      PRICE, DISCOUNT_RATE, DISCOUNT, 
      TAX_RATE, TAX_PRICE, PREFERENTIAL, 
      TOTAL_PRICE, DEPOSIT_REQUESTED, RECEIVABLES_MONEY, 
      INVOICE_MONEY, PAID_UP, BALANCE_MONEY, REMARKS, 
      ORDER_STATUS, INVOICE_STATUS, ORDER_TYPE, 
      SALES_ORDER_NUM, DETAIL_NUM, IS_VALID, 
      IS_DEL, CHANGED_TIME, BUSINESS_TYPE, 
      INDUSTRY_ID, SALES_NO, PURCHASECHECKING_NO, CREATOR, 
      CREATE_TIME)
    values 
    <foreach collection="list" item="item" index="index"  
        separator=",">  
	    (#{item.salescheckingNo,jdbcType=VARCHAR}, #{item.comKey,jdbcType=VARCHAR}, 
	      #{item.partnerKey,jdbcType=VARCHAR}, #{item.partnerName,jdbcType=VARCHAR}, #{item.partnerShortname,jdbcType=VARCHAR}, #{item.salesId,jdbcType=VARCHAR}, 
	      #{item.salesName,jdbcType=VARCHAR}, #{item.contactId,jdbcType=VARCHAR}, #{item.contactName,jdbcType=VARCHAR}, 
	      #{item.orderSelfNo,jdbcType=VARCHAR}, #{item.orderCycle,jdbcType=VARCHAR}, #{item.caseDesc,jdbcType=VARCHAR}, #{item.orderDate,jdbcType=DATE}, 
	      #{item.price,jdbcType=DECIMAL}, #{item.discountRate,jdbcType=DECIMAL}, #{item.discount,jdbcType=DECIMAL}, 
	      #{item.taxRate,jdbcType=DECIMAL}, #{item.taxPrice,jdbcType=DECIMAL}, #{item.preferential,jdbcType=DECIMAL}, 
	      #{item.totalPrice,jdbcType=DECIMAL}, #{item.depositRequested,jdbcType=DECIMAL}, #{item.receivablesMoney,jdbcType=DECIMAL}, 
	      #{item.invoiceMoney,jdbcType=DECIMAL}, #{item.paidUp,jdbcType=DECIMAL}, #{item.balanceMoney,jdbcType=DECIMAL}, #{item.remarks,jdbcType=VARCHAR}, 
	      #{item.orderStatus,jdbcType=CHAR}, #{item.invoiceStatus,jdbcType=CHAR}, #{item.orderType,jdbcType=CHAR}, 
	      #{item.salesOrderNum,jdbcType=SMALLINT}, #{item.detailNum,jdbcType=SMALLINT}, #{item.isValid,jdbcType=CHAR}, 
	      #{item.isDel,jdbcType=CHAR}, #{item.changedTime,jdbcType=TIMESTAMP}, #{item.businessType,jdbcType=VARCHAR}, 
	      #{item.industryId,jdbcType=VARCHAR}, #{item.salesNo,jdbcType=VARCHAR}, #{item.purchasecheckingNo,jdbcType=VARCHAR}, #{item.creator,jdbcType=VARCHAR}, 
	      #{item.createTime,jdbcType=TIMESTAMP})
	</foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.ydz.entity.advert.SalesCheckingOrder" >
    insert into YDZ_SALESCHECKING_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="salescheckingNo != null" >
        SALESCHECKING_NO,
      </if>
      <if test="comKey != null" >
        COM_KEY,
      </if>
      <if test="partnerKey != null" >
        PARTNER_KEY,
      </if>
      <if test="partnerName != null" >
        PARTNER_NAME,
      </if>
       <if test="partnerShortname != null" >
        PARTNER_SHORTNAME,
      </if>     
      <if test="salesId != null" >
        SALES_ID,
      </if>
      <if test="salesName != null" >
        SALES_NAME,
      </if>
      <if test="contactId != null" >
        CONTACT_ID,
      </if>
      <if test="contactName != null" >
        CONTACT_NAME,
      </if>
      <if test="orderSelfNo != null" >
        ORDER_SELF_NO,
      </if>
      <if test="orderCycle != null" >
        ORDER_CYCLE,
      </if>
      <if test="caseDesc != null" >
        CASE_DESC,
      </if>
      <if test="orderDate != null" >
        ORDER_DATE,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="discountRate != null" >
        DISCOUNT_RATE,
      </if>
      <if test="discount != null" >
        DISCOUNT,
      </if>
      <if test="taxRate != null" >
        TAX_RATE,
      </if>
      <if test="taxPrice != null" >
        TAX_PRICE,
      </if>
      <if test="preferential != null" >
        PREFERENTIAL,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="depositRequested != null" >
        DEPOSIT_REQUESTED,
      </if>
      <if test="receivablesMoney != null" >
        RECEIVABLES_MONEY,
      </if>
      <if test="invoiceMoney != null" >
        INVOICE_MONEY,
      </if>
      <if test="paidUp != null" >
        PAID_UP,
      </if>
      <if test="balanceMoney != null" >
        BALANCE_MONEY,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="invoiceStatus != null" >
        INVOICE_STATUS,
      </if>
      <if test="orderType != null" >
        ORDER_TYPE,
      </if>
      <if test="salesOrderNum != null" >
        SALES_ORDER_NUM,
      </if>
      <if test="detailNum != null" >
        DETAIL_NUM,
      </if>
      <if test="isValid != null" >
        IS_VALID,
      </if>
      <if test="isDel != null" >
        IS_DEL,
      </if>
      <if test="changedTime != null" >
        CHANGED_TIME,
      </if>
      <if test="businessType != null" >
        BUSINESS_TYPE,
      </if>
      <if test="industryId != null" >
        INDUSTRY_ID,
      </if>
      <if test="salesNo != null" >
        SALES_NO,
      </if>
      <if test="purchasecheckingNo != null" >
        PURCHASECHECKING_NO,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="salescheckingNo != null" >
        #{salescheckingNo,jdbcType=VARCHAR},
      </if>
      <if test="comKey != null" >
        #{comKey,jdbcType=VARCHAR},
      </if>
      <if test="partnerKey != null" >
        #{partnerKey,jdbcType=VARCHAR},
      </if>
      <if test="partnerName != null" >
        #{partnerName,jdbcType=VARCHAR},
      </if>
      <if test="partnerShortname != null" >
        #{partnerShortname,jdbcType=VARCHAR},
      </if>
      <if test="salesId != null" >
        #{salesId,jdbcType=VARCHAR},
      </if>
      <if test="salesName != null" >
        #{salesName,jdbcType=VARCHAR},
      </if>
      <if test="contactId != null" >
        #{contactId,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="orderSelfNo != null" >
        #{orderSelfNo,jdbcType=VARCHAR},
      </if>
      <if test="orderCycle != null" >
        #{orderCycle,jdbcType=VARCHAR},
      </if>
      <if test="caseDesc != null" >
        #{caseDesc,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=DATE},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="discountRate != null" >
        #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="taxPrice != null" >
        #{taxPrice,jdbcType=DECIMAL},
      </if>
      <if test="preferential != null" >
        #{preferential,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="depositRequested != null" >
        #{depositRequested,jdbcType=DECIMAL},
      </if>
      <if test="receivablesMoney != null" >
        #{receivablesMoney,jdbcType=DECIMAL},
      </if>
      <if test="invoiceMoney != null" >
        #{invoiceMoney,jdbcType=DECIMAL},
      </if>
      <if test="paidUp != null" >
        #{paidUp,jdbcType=DECIMAL},
      </if>
      <if test="balanceMoney != null" >
        #{balanceMoney,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="invoiceStatus != null" >
        #{invoiceStatus,jdbcType=CHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=CHAR},
      </if>
      <if test="salesOrderNum != null" >
        #{salesOrderNum,jdbcType=SMALLINT},
      </if>
      <if test="detailNum != null" >
        #{detailNum,jdbcType=SMALLINT},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=CHAR},
      </if>
      <if test="changedTime != null" >
        #{changedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="industryId != null" >
        #{industryId,jdbcType=VARCHAR},
      </if>
      <if test="salesNo != null" >
        #{salesNo,jdbcType=VARCHAR},
      </if>
      <if test="purchasecheckingNo != null" >
        #{purchasecheckingNo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ydz.entity.advert.SalesCheckingOrder" >
    update YDZ_SALESCHECKING_ORDER
    <set >
      <if test="salescheckingNo != null" >
        SALESCHECKING_NO = #{salescheckingNo,jdbcType=VARCHAR},
      </if>
      <if test="comKey != null" >
        COM_KEY = #{comKey,jdbcType=VARCHAR},
      </if>
      <if test="partnerKey != null" >
        PARTNER_KEY = #{partnerKey,jdbcType=VARCHAR},
      </if>
      <if test="partnerName != null" >
        PARTNER_NAME = #{partnerName,jdbcType=VARCHAR},
      </if>
      <if test="partnerShortname != null" >
        PARTNER_SHORTNAME = #{partnerShortname,jdbcType=VARCHAR},
      </if>      
      <if test="salesId != null" >
        SALES_ID = #{salesId,jdbcType=VARCHAR},
      </if>
      <if test="salesName != null" >
        SALES_NAME = #{salesName,jdbcType=VARCHAR},
      </if>
      <if test="contactId != null" >
        CONTACT_ID = #{contactId,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="orderSelfNo != null" >
        ORDER_SELF_NO = #{orderSelfNo,jdbcType=VARCHAR},
      </if>
      <if test="orderCycle != null" >
        ORDER_CYCLE = #{orderCycle,jdbcType=VARCHAR},
      </if>
      <if test="caseDesc != null" >
        CASE_DESC = #{caseDesc,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        ORDER_DATE = #{orderDate,jdbcType=DATE},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="discountRate != null" >
        DISCOUNT_RATE = #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        DISCOUNT = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null" >
        TAX_RATE = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="taxPrice != null" >
        TAX_PRICE = #{taxPrice,jdbcType=DECIMAL},
      </if>
      <if test="preferential != null" >
        PREFERENTIAL = #{preferential,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null and totalPrice != 0" >
        TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="depositRequested != null" >
        DEPOSIT_REQUESTED = #{depositRequested,jdbcType=DECIMAL},
      </if>
      <if test="receivablesMoney != null" >
        RECEIVABLES_MONEY = #{receivablesMoney,jdbcType=DECIMAL},
      </if>
      <if test="invoiceMoney != null" >
        INVOICE_MONEY = #{invoiceMoney,jdbcType=DECIMAL},
      </if>
      <if test="paidUp != null" >
        PAID_UP = #{paidUp,jdbcType=DECIMAL},
      </if>
      <if test="balanceMoney != null" >
        BALANCE_MONEY = #{balanceMoney,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="invoiceStatus != null" >
        INVOICE_STATUS = #{invoiceStatus,jdbcType=CHAR},
      </if>
      <if test="orderType != null" >
        ORDER_TYPE = #{orderType,jdbcType=CHAR},
      </if>
      <if test="salesOrderNum != null" >
        SALES_ORDER_NUM = #{salesOrderNum,jdbcType=SMALLINT},
      </if>
      <if test="detailNum != null" >
        DETAIL_NUM = #{detailNum,jdbcType=SMALLINT},
      </if>
      <if test="isValid != null" >
        IS_VALID = #{isValid,jdbcType=CHAR},
      </if>
      <if test="isDel != null" >
        IS_DEL = #{isDel,jdbcType=CHAR},
      </if>
      <if test="changedTime != null" >
        CHANGED_TIME = #{changedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessType != null" >
        BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="industryId != null" >
        INDUSTRY_ID = #{industryId,jdbcType=VARCHAR},
      </if>
      <if test="salesNo != null" >
        SALES_NO = #{salesNo,jdbcType=VARCHAR},
      </if>
      <if test="purchasecheckingNo != null" >
        PURCHASECHECKING_NO = #{purchasecheckingNo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where COM_KEY = #{comKey} and SALESCHECKING_NO = #{salescheckingNo}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ydz.entity.advert.SalesCheckingOrder" >
    update YDZ_SALESCHECKING_ORDER
    set SALESCHECKING_NO = #{salescheckingNo,jdbcType=VARCHAR},
      COM_KEY = #{comKey,jdbcType=VARCHAR},
      PARTNER_KEY = #{partnerKey,jdbcType=VARCHAR},
      PARTNER_NAME = #{partnerName,jdbcType=VARCHAR},
      PARTNER_SHORTNAME = #{partnerShortname,jdbcType=VARCHAR},
      SALES_ID = #{salesId,jdbcType=VARCHAR},
      SALES_NAME = #{salesName,jdbcType=VARCHAR},
      CONTACT_ID = #{contactId,jdbcType=VARCHAR},
      CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      ORDER_SELF_NO = #{orderSelfNo,jdbcType=VARCHAR},
      ORDER_CYCLE = #{orderCycle,jdbcType=VARCHAR},
      CASE_DESC = #{caseDesc,jdbcType=VARCHAR},
      ORDER_DATE = #{orderDate,jdbcType=DATE},
      PRICE = #{price,jdbcType=DECIMAL},
      DISCOUNT_RATE = #{discountRate,jdbcType=DECIMAL},
      DISCOUNT = #{discount,jdbcType=DECIMAL},
      TAX_RATE = #{taxRate,jdbcType=DECIMAL},
      TAX_PRICE = #{taxPrice,jdbcType=DECIMAL},
      PREFERENTIAL = #{preferential,jdbcType=DECIMAL},
      TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      DEPOSIT_REQUESTED = #{depositRequested,jdbcType=DECIMAL},
      RECEIVABLES_MONEY = #{receivablesMoney,jdbcType=DECIMAL},
      INVOICE_MONEY = #{invoiceMoney,jdbcType=DECIMAL},
      PAID_UP = #{paidUp,jdbcType=DECIMAL},
      BALANCE_MONEY = #{balanceMoney,jdbcType=DECIMAL},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      ORDER_STATUS = #{orderStatus,jdbcType=CHAR},
      INVOICE_STATUS = #{invoiceStatus,jdbcType=CHAR},
      ORDER_TYPE = #{orderType,jdbcType=CHAR},
      SALES_ORDER_NUM = #{salesOrderNum,jdbcType=SMALLINT},
      DETAIL_NUM = #{detailNum,jdbcType=SMALLINT},
      IS_VALID = #{isValid,jdbcType=CHAR},
      IS_DEL = #{isDel,jdbcType=CHAR},
      CHANGED_TIME = #{changedTime,jdbcType=TIMESTAMP},
      BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR},
      INDUSTRY_ID = #{industryId,jdbcType=VARCHAR},
      SALES_NO = #{salesNo,jdbcType=VARCHAR},
      PURCHASECHECKING_NO = #{purchasecheckingNo,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where COM_KEY = #{comKey} and SALESCHECKING_NO = #{salescheckingNo}
  </update>

  <!--批量修改订单状态-->
  <update id="updateBatchBySalesCheckingNoIn" parameterType="pd">
    UPDATE YDZ_SALESCHECKING_ORDER
    <set>
    <if test="orderStatus != null" >
      ORDER_STATUS = #{orderStatus,jdbcType=CHAR},
    </if>
    <if test="invoiceStatus != null" >
      INVOICE_STATUS = #{invoiceStatus,jdbcType=CHAR},
    </if>
    <if test="changedTime != null" >
      CHANGED_TIME = #{changedTime,jdbcType=TIMESTAMP},
    </if>
    <if test="paidUp != null" >
      PAID_UP = #{paidUp,jdbcType=DECIMAL},
    </if>
    <if test="balanceMoney != null" >
      BALANCE_MONEY = #{balanceMoney,jdbcType=DECIMAL},
    </if>
    <if test="isSettlement != null" >
      IS_SETTLEMENT = #{isSettlement,jdbcType=CHAR},
    </if>
    </set>
    where SALESCHECKING_NO IN 
    <foreach collection="salescheckingNoIn" item="item" index="index" open="(" separator="," close=")">
    	#{item}
    </foreach>
  </update>

  <!--根据partnerKey修改partnerName和partnerShortname-->
  <update id="updateByPartnerKey" parameterType="com.ydz.entity.advert.SalesCheckingOrder" >
    update YDZ_SALESCHECKING_ORDER
    <set>
      <if test="partnerName != null" >
        PARTNER_NAME = #{partnerName,jdbcType=VARCHAR},
      </if>
      <if test="partnerShortname != null" >
        PARTNER_SHORTNAME = #{partnerShortname,jdbcType=VARCHAR},
      </if>
    </set>
    where COM_KEY = #{comKey} and PARTNER_KEY = #{partnerKey,jdbcType=VARCHAR}
  </update>


</mapper>