<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydz.dao.system.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.ydz.entity.system.Menu" >
    <id column="UID" property="uid" jdbcType="BIGINT" />
    <result column="COM_KEY" property="comKey" jdbcType="VARCHAR" />
    <result column="INDUSTRY_ID" property="industryId" jdbcType="VARCHAR" />
    <result column="RENTAL_VERSION" property="rentalVersion" jdbcType="CHAR" />
    <result column="IS_VALID" property="isValid" jdbcType="CHAR" />
    <result column="CHANGED_TIME" property="changedTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    UID, COM_KEY, INDUSTRY_ID, RENTAL_VERSION, IS_VALID, CHANGED_TIME, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="pd" >
    select 
    <include refid="Base_Column_List" />
    from YDZ_MENU
    where IS_VALID = '1' 
    	AND COM_KEY = #{comKey} 
    <if test="industryId != null">
    	and INDUSTRY_ID = #{industryId}
    </if>
    <if test="rentalVersion != null">
    	and RENTAL_VERSION = #{rentalVersion}
    </if>
    LIMIT 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="pd" >
    delete from YDZ_MENU
    where COM_KEY = #{comKey}
  </delete>
  <insert id="insertSelective" parameterType="com.ydz.entity.system.Menu" >
    insert into YDZ_MENU
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="comKey != null" >
        COM_KEY,
      </if>
      <if test="industryId != null" >
        INDUSTRY_ID,
      </if>
      <if test="rentalVersion != null" >
        RENTAL_VERSION,
      </if>
      <if test="isValid != null" >
        IS_VALID,
      </if>
      <if test="changedTime != null" >
        CHANGED_TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="comKey != null" >
        #{comKey,jdbcType=VARCHAR},
      </if>
      <if test="industryId != null" >
        #{industryId,jdbcType=VARCHAR},
      </if>
      <if test="rentalVersion != null" >
        #{rentalVersion,jdbcType=CHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="changedTime != null" >
        #{changedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ydz.entity.system.Menu" >
    update YDZ_MENU
    <set >
      <if test="industryId != null" >
        INDUSTRY_ID = #{industryId,jdbcType=VARCHAR},
      </if>
      <if test="rentalVersion != null" >
        RENTAL_VERSION = #{rentalVersion,jdbcType=CHAR},
      </if>
      <if test="isValid != null" >
        IS_VALID = #{isValid,jdbcType=CHAR},
      </if>
      <if test="changedTime != null" >
        CHANGED_TIME = #{changedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where COM_KEY = #{comKey}
  </update>
</mapper>