<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydz.dao.system.VoucherUseMapper" >
  <resultMap id="BaseResultMap" type="com.ydz.entity.system.VoucherUse" >
    <id column="UID" property="uid" jdbcType="BIGINT" />
    <result column="VOUCHER_CODE" property="voucherCode" jdbcType="VARCHAR" />
    <result column="RENTAL_KEY" property="rentalKey" jdbcType="VARCHAR" />
    <result column="COM_KEY" property="comKey" jdbcType="VARCHAR" />
    <result column="USE_DATE" property="useDate" jdbcType="DATE" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    UID, VOUCHER_CODE, RENTAL_KEY, COM_KEY, USE_DATE, CREATOR, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="pd" >
    select 
    <include refid="Base_Column_List" />
    from YDZ_VOUCHER_USE
    where COM_KEY = #{comKey}
    <if test="voucherCode != null">
    	and VOUCHER_CODE LIKE '%${voucherCode}%'
    </if>
    <if test="rentalKey != null">
    	and RENTAL_KEY LIKE '%${rentalKey}%'
    </if>
    <if test="startDate != null and endDate != null">
    	and USE_DATE BETWEEN #{startDate} AND #{endDate}
    </if>
    order by USE_DATE
    
  </select>
  <delete id="deleteByPrimaryKey" parameterType="pd" >
    delete from YDZ_VOUCHER_USE
    where COM_KEY = #{comKey} and VOUCHER_CODE = #{voucherCode} and RENTAL_KEY = #{rentalKey}
  </delete>
  <insert id="insert" parameterType="com.ydz.entity.system.VoucherUse" >
    insert into YDZ_VOUCHER_USE (UID, VOUCHER_CODE, RENTAL_KEY, 
      COM_KEY, USE_DATE, CREATOR, 
      CREATE_TIME)
    values (#{uid,jdbcType=BIGINT}, #{voucherCode,jdbcType=VARCHAR}, #{rentalKey,jdbcType=VARCHAR}, 
      #{comKey,jdbcType=VARCHAR}, #{useDate,jdbcType=DATE}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ydz.entity.system.VoucherUse" >
    insert into YDZ_VOUCHER_USE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="voucherCode != null" >
        VOUCHER_CODE,
      </if>
      <if test="rentalKey != null" >
        RENTAL_KEY,
      </if>
      <if test="comKey != null" >
        COM_KEY,
      </if>
      <if test="useDate != null" >
        USE_DATE,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="voucherCode != null" >
        #{voucherCode,jdbcType=VARCHAR},
      </if>
      <if test="rentalKey != null" >
        #{rentalKey,jdbcType=VARCHAR},
      </if>
      <if test="comKey != null" >
        #{comKey,jdbcType=VARCHAR},
      </if>
      <if test="useDate != null" >
        #{useDate,jdbcType=DATE},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>